.mainback{
    background-color: rgb(49, 51, 56);
    width: calc(100% - 312px);
    height: 100vh;
    position: absolute;
    right:0;
    overflow-y: hidden;
    min-width: 300px;
    
}
.maintop{
    display: flex;
    height: 48px;
    color: #fff;
    justify-content: flex-start;
    align-items: center;
    padding-left: 18px;
    font-weight: bold;
}
@media (width<1200px){
    .mainback{
        position: static;
        width: 100%;
    }
    .maintop{
        display: none;
    }
}

