.mainbottom{
   
    /* color: #ccc; */
    font-weight: bold;
    font-size: 14px;
    overflow-y: scroll;
    height: 100vh;
}
.mainbottom::-webkit-scrollbar {
    width: 10px;
  }
.mainbottom::-webkit-scrollbar-track {
    background-color: rgb(224, 224, 224);
}
.mainbottom::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(128, 128, 128);
}
.ex{
    /* height: 100%; */
    background-color: #fff;
}
.mainbottom > div:nth-child(1) {
    background-color: antiquewhite;
    height:100vh;
}
.mainbottom > div:nth-child(2) {
    background-color: rgb(212, 121, 171);
    height: 700px
}
.mainbottom > div:nth-child(3) {
    background-color: rgb(191, 98, 217);
    height: 700px
}
.mainbottom > div:nth-child(4) {
    background-color: rgb(164, 240, 177);
    height: 700px
}
.mainbottom > div:nth-child(5) {
    background-color: rgb(232, 194, 145);
    height: 500px
}