
h2{
    display: block;
}
#innersection{
    display: flex;
    height: 60%;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
}
#mess{
    height: 100%;
    width: 45%;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    box-shadow:7px 7px 3px 2px #000;
    display: flex;
    flex-direction: column;
}
#mess svg{
    text-align: left;
    font-size: 50px;
    display: inline-block;
}
#mess h3{
    display: inline-block;
    /* width: calc(100% - 75px); */
    width: 25%;
    font-size: 36px;
}
#cen{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
#ca a{
    height: 20%;
    color: #000;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    padding: 20px 0;
}

#ca{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 40px 0;
}
#ca h4{
    padding: 20px 0;
    font-size: 24px;
}
ul{
    padding: 20px 0;
}
li{
    padding: 10px 0;
    list-style:disc
}
#red{
    color: red;
}