#My{
    display: flex;
    justify-content: center;
    align-items: center;
}
#cont{
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    border: none;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
}
li{
    list-style: none;
    width: 30%;
    height: 40%;
}