#My{
    display: flex;
    justify-content: center;
    align-items: center;
}
#cont{
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    border: none;
}
#tle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
}
#tle li{
    list-style: none;
    width: 30%;
    height: 40%;
    font-size: 18px;
    font-weight: bolder;
    display: flex;
}
#tle a{
    /* text-decoration: none; */
    color: #000;
}
#tle li svg{
    height: 60%;
}
@media (width<1200px){
    #My{
        height: 800px;
    }
    #tle{
        height: 66%;
    }
    #tle li{
        width: 40%;
        display: flex;
        justify-content: left;
    }
}
@media (width<500px) {
    #tle li svg {
        width: 0;
    }
    #tle li a{
        width: 100%;
        font-size: 14px;
    }
    #tle li a #text{
        font-size: 14px;
    }
}